{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/home.css'%}" rel="stylesheet" />
    <title>랜딩</title>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <!--경로수정-->
      <div id="HderLogos">
        <a href="{% url 'accounts:login' %}" class="logo">
          <img
            id="HdLogoTT"
            src="{% static 'img/Group 315.png' %}"
            alt="로고"
          />
          <img
            id="HdLogoKTT"
            src="{% static 'img/Group 318.png' %}"
            alt="로고"
          />
        </a>
      </div>
      <div id="HdScetion">
        <nav id="menu">
          <div class="theNav">
            <p class="HdA" href="">틈틈이공유</p>
            <div class="theSe">
              <p>최신 채용 정보</p>
              <p>틈틈러 재도전 이야기</p>
            </div>
          </div>
          <div class="theNav">
            <p class="HdA" href="">틈틈이정보</p>
            <div class="theSe">
              <p>온라인 강의 큐레이션</p>
              <p>나의 재도전 계획</p>
            </div>
          </div>
          <div class="theNav">
            <p class="HdA" href="">틈틈이계획</p>
            <div class="theSe">
              <p>틈틈 상담소</p>
              <p>선배 틈틈러의 이야기</p>
            </div>
          </div>
        </nav>
        <nav id="user-actions">
          <!-- 로그인 안 한 경우 -->
          {% if not user.is_authenticated %}
          <a href="{% url 'accounts:login' %}">
            <img
              src="{% static 'img/Group 243.png' %}"
              alt="로그인"
              id="login"
            />
          </a>
          {% endif %}

          <!-- 로그인 한 경우 -->
          {% if user.is_authenticated %}
          <div id="LoginUserIf" style="display: flex">
            <img id="LoginPenImg" src="{% static 'img/pen.png' %}" />
            <a href="{% url 'post:post_list' %}" id="LoginUsertxt">
              <span id="LoginUserName">{{ user.username }}</span> 님 안녕하세요!
            </a>
          </div>
          {% endif %}

          <a href="{%url 'my:mypage' %}"
            ><img
              id="UserImg"
              src="{%static 'img/User.png' %}"
              alt="마이페이지"
          /></a>
          <a id="bell-wrapper"
            ><img id="BellImg" src=" {%static 'img/Bell.png' %}" alt="알림" />
            <div id="notif-box">
              <p>[틈틈러 재도전 이야기] 내 게시글에 댓글이 달렸어요.</p>
              <p>[틈틈 상담소] 내 게시글에 댓글이 달렸어요.</p>
              <p>[틈틈 상담소] 내 게시글에 댓글이 달렸어요.</p>
              <p>[틈틈 상담소] 내 게시글에 댓글이 달렸어요.</p>
              <p>[틈틈 상담소] 내 게시글에 댓글이 달렸어요.</p>
              <p>[틈틈 상담소] 내 게시글에 댓글이 달렸어요.</p>
              <p>[틈틈 상담소] 내 게시글에 댓글이 달렸어요.</p>
            </div>
          </a>
          <div id="search-container" style="display: none">
            <input
              type="text"
              id="search-input"
              placeholder="검색어를 입력해주세요"
            />
          </div>
          <img id="SearchImg" src="{%static 'img/Search.png'%}" alt="검색" />
        </nav>
      </div>
    </header>
    <section id="Lsection">
      <div id="Lhd">
        <img id="mainTT" src="{%static 'img/With “TeumTeum”.png'%}" />
        <img id="subTT" src="{%static 'img/Group 237.png'%}" />
      </div>
      <div id="Larticle1P">
        <article id="Larticle1">
          <div id="Ltop1">
            <img
              id="LtopImg1"
              src="{%static 'img/laptop with graduate hat.png'%}"
            />
            <img id="LtopT1" src="{%static 'img/Header1.png' %}" />
            <p class="LtopM">
              맞춤 자격증 정보부터, 채용 소식까지 한눈에!<br />꼭 필요한 정보만
              쏙쏙 제공해드려요.
            </p>
          </div>
          <div id="Ltop2">
            <img id="LtopImg2" src="{%static 'img/job resume.png'%}" />
            <img id="LtopT2" src="{%static 'img/Headerplan.png'%}" />
            <p class="LtopM">
              혼자 준비하기 막막한 재취업 계획!<br />
              ‘틈틈’이 준비한 가이드로 계획서를 만들어보아요.
            </p>
          </div>
          <div id="Ltop3">
            <img id="LtopImg3" src="{%static 'img/two speech bubbles.png'%}" />
            <img id="LtopT3" src="{%static 'img/Header2.png'%}" />
            <p class="LtopM">
              취업에 성공한 선배 틈틈러들의 생생한 이야기! <br />
              그들의 조언과 따뜻한 응원이 도움이 될 거예요.
            </p>
          </div>
        </article>
      </div>
      <div id="LBg">
        <article>
          <!--삭제가능성-->
          <div id="AMid">
            <img
              id="ATT"
              src="{%static 'img/틈틈이 제공하는 다양한 정보들이에요..png'%}"
            />
            <p id="AMidText">
              재취업 정보부터 재도전 계획 가이드까지, 재취업에 필요한 다양한
              과정을 도와드려요.
            </p>
          </div>

          <div id="reArr">
            <div class="T">
              <div class="reCo">
                <p class="reT">
                  <span>{{ user.username }}</span> 님의 재도전 현황
                </p>
                <div class="reTCt">
                  <p class="reTCtMenu">희망 직종</p>
                  <p id="MenuTxt1">마케팅.홍보.MD</p>
                </div>
                <div class="reTCt">
                  <p class="reTCtMenu">희망 지역</p>
                  <p id="MenuTxt2">서울/경기</p>
                </div>
                <div class="reTCt">
                  <p class="reTCtMenu">보유 역량 개수</p>
                  <p id="MenuTxt3"><span>4</span>개</p>
                </div>
                <div class="reTCt">
                  <p class="reTCtMenu">경력 단절 기간</p>
                  <p id="MenuTxt4"><span>5</span>년</p>
                </div>
              </div>
              <a href="{% url 'plan:myplan' %}" class="reLink"
                >더 자세히 확인하기</a
              >
            </div>

            <div class="T">
              <div class="reCo">
                <p class="reT">'마케팅' 추천 채용 정보</p>
                <div>
                  <p class="reMactName">기아 (주) 협력사</p>
                  <p class="reMact">해외 발주 업무 담당자 채용</p>
                </div>
                <div>
                  <p class="reMactName">넥스트리서치</p>
                  <p class="reMact">마케팅리서치 및 사회조사 리서치</p>
                </div>
                <div>
                  <p class="reMactName">하이텔레서비스</p>
                  <p class="reMact">
                    구독업무지원파트 상담 직무 구독업무지원파트 상담 직무
                  </p>
                </div>
              </div>
              <a class="reLink">더 자세히 확인하기</a>
            </div>
            <div class="T">
              <div class="reCo">
                <p class="reT">선배 틈틈러의이야기</p>
                <div>
                  <p class="reMactName">경력 단절 4년/마케팅.홍보</p>
                  <p class="reMact">
                    육아 5년 후, 다시 일할 수 있을까요? 육아 5년 후, 다시 일할
                    수 있을까요?
                  </p>
                </div>
                <div>
                  <p class="reMactName">경력 단절 3년/교육.강의</p>
                  <p class="reMact">
                    공백 3년, 포기 안 했더니 진짜 공백 3년, 포기 안 했더니 진짜
                  </p>
                </div>
                <div>
                  <p class="reMactName">경력 단절 1년/IT.개발.데이터</p>
                  <p class="reMact">
                    매일 조금씩 하는 습관이 저를 매일 조금씩 하는 습관이 저를
                  </p>
                </div>
              </div>
              <a class="reLink">더 자세히 확인하기</a>
            </div>
          </div>

          <img
            id="LeImg"
            src="{%static 'img/오늘은 이 온라인 강의를 들어볼까요_.png'%}"
          />
          <p id="LeTxt">
            다양한 사이트에서 제공하는 온라인 강의로 회원님의 역량을 키워보세요!
          </p>
          <article id="TeachVi">
            <!-- 외부강의 url연결 -->
            <div id="TeachBox">
              <a href="https://house.eduwill.net/sites/freelec/444">
                <div id="TcTop">
                  <img id="TcProfile" src="{%static 'img/image 9.png'%}" />
                  <img class="Tcstar" src="{%static 'img/Star 1.png'%}" />
                </div>

                <p id="CtT">주택관리사 관리실무 기초이론</p>
                <p id="CtLo">에듀윌</p>
                <p id="CtTy">초급</p>
              </a>
            </div>
            <!-- 외부강의 url연결 -->
            <div id="TeachBox">
              <div id="TcTop">
                <img id="TcProfile" src="{%static 'img/image 7.png'%}" />
                <img class="Tcstar" src="{%static 'img/Star 1.png'%}" />
              </div>
              <a
                href="https://www.kmooc.kr/view/course/detail/16309?tm=20250711033834"
              >
                <p id="CtT">서비스 디자인 입문</p>
                <p id="CtLo">K-MOOC (서울대)</p>
                <p id="CtTy">입문</p>
              </a>
            </div>
            <!-- 외부강의 url연결 -->
            <div id="TeachBox">
              <div id="TcTop">
                <img id="TcProfile" src="{%static 'img/image 8.png'%}" />
                <img class="Tcstar" src="{%static 'img/Star 1.png'%}" />
              </div>
              <a
                href="https://www.ebs.co.kr/package/jobpackage/ebspackage/job/450093"
              >
                <p id="CtT">2025 물류관리사</p>
                <p id="CtLo">EBS</p>
                <p id="CtTy">벼락치기</p>
              </a>
            </div>
            <!-- 외부강의 url연결 -->
            <div id="TeachBox">
              <div id="TcTop">
                <img id="TcProfile" src="{%static 'img/image 9.png'%}" />
                <img class="Tcstar" src="{%static 'img/Star 1.png'%}" />
              </div>
              <a
                href="https://www.kmooc.kr/view/course/detail/16309?tm=20250711033834"
              >
                <p id="CtT">민법 기초 이론</p>
                <p id="CtLo">에듀윌</p>
                <p id="CtTy">기초</p>
              </a>
            </div>
            <!-- 외부강의 url연결 -->
            <div id="TeachBox">
              <div id="TcTop">
                <img id="TcProfile" src="{%static 'img/image 7.png'%}" />
                <img class="Tcstar" src="{%static 'img/Star 1.png'%}" />
              </div>
              <a
                href="https://www.kmooc.kr/view/course/detail/15001?tm=20250711035914"
              >
                <p id="CtT">의료 인공지능 개론</p>
                <p id="CtLo">K-MOOC (KAIST)</p>
                <p id="CtTy">중급</p>
              </a>
            </div>

            <!-- 외부강의 url연결 -->
            <div id="TeachBox">
              <div id="TcTop">
                <img id="TcProfile" src="{%static 'img/image 8.png'%}" />
                <img class="Tcstar" src="{%static 'img/Star 1.png'%}" />
              </div>
              <a
                href="https://www.ebs.co.kr/package/jobpackage/ebspackage/job/448525"
              >
                <p id="CtT">ITQ/오피스실무</p>
                <p id="CtLo">EBS</p>
                <p id="CtTy">초급 패키지</p>
              </a>
            </div>
          </article>
        </article>
      </div>
    </section>
    <!-- 푸터 -->
    <footer>
      <img src="{%static 'img/Group 319.png'%}" alt="로고" class="logo2" />
      <div>
        <img src="{%static 'img/Group 320.png'%}" class="logo3" />
      </div>
    </footer>
    <script src="{%static 'js/home.js'%}" defer></script>
  </body>
</html>
