<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/joblist.css" />
    <title>최신채용정보</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- 헤더 -->
      <header>
        <a href="/login/templates/login.html" class="logo">
          <img src="../static/img/logo1.svg" alt="로고" />
          <img src="../static/img/logo4.svg" alt="로고" />
        </a>
        <nav class="menu">
          <ul>
            <!-- 추후 경로 페이지 수정 -->
            <li><a href="">틈틈이공유</a></li>
            <li><a href="">틈틈이정보</a></li>
            <li><a href="">틈틈이계획</a></li>
          </ul>
        </nav>
        <nav class="user-actions">
          <ul>
            <li>
              <!-- 추후 경로 페이지 수정 -->
              <a href="/login/"
                ><img
                  src="../static/img/loginbtn.svg"
                  alt="로그인"
                  class="login"
              /></a>
            </li>
            <li>
              <a href="/mypage/"
                ><img src="../static/img/mypage.svg" alt="마이페이지"
              /></a>
            </li>
            <li>
              <a href="/alert/"
                ><img src="../static/img/alert.svg" alt="알림"
              /></a>
            </li>
            <li><img src="../static/img/search.svg" alt="검색" /></li>
          </ul>
        </nav>
      </header>
      <!-- 채용정보 검색 -->
      <main class="content">
        <h2>최신 채용 정보</h2>
        <p>회원님만의 맞춤 채용 정보를 틈틈이 준비했어요.</p>
        <hr />
        <!-- 검색 조건 필터 -->
        <form action="/job_list/" method="GET" class="search-filter">
          <div class="kw-wrapper">
            <span>검색 키워드</span>
            <input
              type="text"
              id="keyword"
              name="search-keyword"
              placeholder="관심 있는 채용 키워드를 입력해 주세요."
              required
            />
          </div>

          <div class="job-wrapper">
            <span>직종</span>
            <div class="dropdown-container">
              <div class="dropdown">직종 선택</div>
              <img
                src="../static/img/dropdown.svg"
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                <label
                  ><input type="checkbox" name="job_type" value="planning" />
                  기획·전략</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="development" />
                  IT·개발·데이터</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type"
                    value="manufacturing"
                  />
                  생산·제조</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="contents" />
                  콘텐츠·미디어</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="marketing" />
                  마케팅·홍보·MD</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type"
                    value="customer_service"
                  />
                  고객상담·CS</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type"
                    value="construction"
                  />
                  건축·시설관리</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="finance" />
                  금융·보험</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="accounting" />
                  회계·세무·재무</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="logistics" />
                  물류·운송</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="healthcare" />
                  의료·간호</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="public" />
                  공공·복지</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="design" />
                  디자인</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="operation" />
                  운영·서비스업</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="education" />
                  교육·강의</label
                >
                <label
                  ><input type="checkbox" name="job_type" value="hr" />
                  인사·사무·총무</label
                >
              </div>
            </div>
          </div>

          <div class="location-wrapper">
            <span>지역</span>
            <div class="dropdown-container">
              <div class="dropdown">지역 선택</div>
              <img
                src="../static/img/dropdown.svg"
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                <label
                  ><input type="checkbox" name="region" value="seoul" />
                  서울</label
                >
                <label
                  ><input type="checkbox" name="region" value="gyeonggi" />
                  경기/인천</label
                >
                <label
                  ><input type="checkbox" name="region" value="busan" />
                  부산/울산/경남</label
                >
                <label
                  ><input type="checkbox" name="region" value="daegu" />
                  대구/경북</label
                >
                <label
                  ><input type="checkbox" name="region" value="gwangju" />
                  광주/전남/전북</label
                >
                <label
                  ><input type="checkbox" name="region" value="daejeon" />
                  대전/충남/충북</label
                >
                <label
                  ><input type="checkbox" name="region" value="gangwon" />
                  강원</label
                >
                <label
                  ><input type="checkbox" name="region" value="jeju" />
                  제주</label
                >
              </div>
            </div>
          </div>

          <div class="available-wrapper">
            <span>재택 근무 가능 여부</span>
            <label
              ><input type="checkbox" name="remote_available" /> 재택 근무
              가능</label
            >
          </div>
          <div class="career-wrapper">
            <span>경력</span>
            <label
              ><input type="checkbox" name="career" value="new" /> 신입</label
            >
            <label
              ><input type="checkbox" name="career" value="none" /> 없음</label
            >
            <label
              ><input type="checkbox" name="career" value="exp" /> 경력</label
            >
            <label
              ><input type="checkbox" name="career" value="exp" />
              관계없음</label
            >
          </div>

          <div class="education-wrapper">
            <span>학력</span>
            <div class="dropdown-container">
              <div class="dropdown">학력 조건</div>
              <img
                src="../static/img/dropdown.svg"
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                <label
                  ><input
                    type="checkbox"
                    name="education"
                    value="high_school"
                  />
                  고등학교 졸업</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="education"
                    value="associate_degree"
                  />
                  전문대학 졸업</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="education"
                    value="bachelor_degree"
                  />
                  학사 학위</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="education"
                    value="master_degree"
                  />
                  석사 학위</label
                >
                <label
                  ><input type="checkbox" name="education" value="doctorate" />
                  박사 학위</label
                >
              </div>
            </div>
          </div>

          <div class="cpsize-wrapper">
            <span>기업 규모</span>
            <div class="dropdown-container">
              <div class="dropdown">기업 규모</div>
              <img
                src="../static/img/dropdown.svg"
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                <label
                  ><input type="checkbox" name="company_size" value="small" />
                  소기업</label
                >
                <label
                  ><input type="checkbox" name="company_size" value="medium" />
                  중기업</label
                >
                <label
                  ><input type="checkbox" name="company_size" value="large" />
                  대기업</label
                >
                <label
                  ><input type="checkbox" name="company_size" value="startup" />
                  스타트업</label
                >
                <label
                  ><input type="checkbox" name="company_size" value="public" />
                  공공기관</label
                >
              </div>
            </div>
          </div>
        </form>

        <button type="submit" class="searchbtn">조회하기</button>
        <hr />
        <p>총 1,472건의 채용정보가 있어요.</p>
        <!-- 카드 목록 -->
        <div class="card-container">
          {% for job in jobs %}
          <div class="card">
            <div class="card-content">
              <img
                src="{{ job.company_logo.url }}"
                alt="로고"
                class="sample-logo"
              />
              <a href="{{ job.link }}" target="_blank" class="card-link">
                <h2>{{ job.title }}</h2>
              </a>
              <p class="subtitle">{{ job.company }}</p>
              <p class="category">{{ job.get_job_type_display }}</p>
            </div>
            <img src="../static/img/scrapbtn.svg" alt="스크랩" class="scrap" />
          </div>
          {% endfor %}
        </div>

        <div class="pagination">
          <img src="../static/img/arrow1.svg" alt="첫페이지" class="prevbtn" />
          <img
            src="../static/img/arrow2.svg"
            alt="이전페이지"
            class="prevbtn"
          />
          <p class="pagenumber">1</p>
          <p class="pagenumber">2</p>
          <p class="pagenumber">3</p>
          <img
            src="../static/img/arrow2.svg"
            alt="다음페이지"
            class="nextbtn"
          />
          <img
            src="../static/img/arrow1.svg"
            alt="마지막페이지"
            class="nextbtn"
          />
        </div>
      </main>
      <!-- 푸터 -->
      <footer>
        <img src="../static/img/logo2.svg" alt="로고" class="logo2" />

        <div class="footer-bottom">
          <h1>단절의 시간을 기회의 시간으로 바꾸는 플랫폼,</h1>
          <img src="../static/img/logo3.svg" class="logo3" />
        </div>
      </footer>
    </div>
    <script src="../static/js/joblist.js"></script>
  </body>
</html>
