{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/post_form.css' %}" />    
    <title>틈틈러 재도전 이야기</title>
  </head>
  <body>
    <!-- 헤더 -->
    <header>
      <!--경로수정-->
      <div id="HderLogos">
        <a href="/login/templates/login.html" class="logo">
          <img id="HdLogoTT" src="/img/Group 315.png" alt="로고" />
          <img id="HdLogoKTT" src="/img/Group 318.png" alt="로고" />
        </a>
      </div>
      <div id="HdScetion">
        <nav id="menu">
          <!-- 추후 경로 페이지 수정 -->
          <a class="HdA" href="">틈틈이공유</a>
          <a class="HdA" href="">틈틈이정보</a>
          <a class="HdA" href="">틈틈이계획</a>
        </nav>
        <nav id="user-actions">
          <!-- 추후 경로 페이지 수정 -->
          <a href="/login/">
            <img src="/img/Group 243.png" alt="로그인" id="login" />
          </a>
          <a href="/mypage/"
            ><img id="UserImg" src="/img/User.png" alt="마이페이지"
          /></a>
          <a href="/alert/"
            ><img id="BellImg" src="/img/Bell.png" alt="알림"
          /></a>
          <img id="SearchImg" src="/img/Search.png" alt="검색" />
        </nav>
      </div>
    </header>
    <section>
      <div id="title">
        <img id="HdImg" src="/img/틈틈러 재도전 이야기.png" />
        <p id="titleDt">재취업에 도전하는 틈틈러들과 이야기를 나누어 보아요.</p>
      </div>
      <div class="wrT">
        <p id="wrTitle">제목</p>
        <input
          id="wrStoryTitle"
          type="text"
          placeholder="제목을 작성해 주세요."
        />
      </div>
      <div class="wrT">
        <p id="wrTitleN">내용</p>
        <textarea
          id="wrStoryN"
          placeholder="재취업에 대한 고민, 궁금한 점, 어떤 이야기든 괜찮아요. 당신의 이야기를 들려주세요!"
        ></textarea>
      </div>
      <!-- <form id="stSubF">
        <input id="stSubmit" type="submit" value="등록하기" />
      </form> -->
      <div id="stSubF">
        <a href="./StoryDetail.html" id="stSubmit">등록하기</a>
      </div>
    </section>
    <!-- 푸터 -->
    <footer>
      <img src="/img/Group 319.png" alt="로고" class="logo2" />
      <div>
        <img src="/img/Group 320.png" class="logo3" />
      </div>
    </footer>
    <script src="../js/StoryWrite.js" defer></script>
  </body>
</html>
