<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={%static "css/signup.css"%} />
    <title>회원가입</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- 헤더 -->
      <header>
        <a href={%url 'home' %} class="logo">
          <img src={%static "img/logo1.svg"%} alt="로고" />
          <img src={%static "img/logo4.svg"%} alt="로고"/> 
        </a>
        <nav class="menu">
          <ul>
            <!-- 추후 경로 페이지 수정 -->
            <li><a href="">틈틈이공유</a></li>
            <li><a href="">틈틈이정보</a></li>
            <li><a href="">틈틈이계획</a></li>
          </ul>
        </nav>
        <nav class="user-actions">
          <ul>
            <li>
              <!-- 로그인 버튼 클릭 시 로그인 페이지로 이동 -->
              <a href={%url 'accounts:login' %}
                ><img
                  src={%static "img/loginbtn.svg"%}
                  alt="로그인"
                  class="login"
              /></a>
            </li>
            <li>
              <a href="/mypage/"
                ><img src={%static "img/mypage.svg"%} alt="마이페이지"
              /></a>
            </li>
            <li>
              <a href="/alert/"
                ><img src={%static "img/alert.svg"%} alt="알림"
              /></a>
            </li>
            <li><img src={%static "img/search.svg"%} alt="검색" /></li>
          </ul>
        </nav>
      </header>
      <!-- 회원가입 박스 -->
      <main class="content">
        <div class="bg-box1">
          <h1 class="slogan">“틈난 커리어, 틈틈이 다시 채워요!”</h1>
        </div>
        <div class="bg-box2"></div>
        <div class="input-box">
          <h3>틈틈이 처음이시군요. 반가워요!</h3>
          <h1>회원가입</h1>
          <!-- 회원가입 입력폼 -->
          <form action={% url 'accounts:signup' %} method="POST" class="signup-form">
            {% csrf_token %}
            <div class="form-grid">
              <div class="name-wrapper">
                <label for="user-id">이름</label>
                <input
                  type="text"
                  id="user-name"
                  name="username"
                  placeholder="이름을 입력해주세요."
                  required
                />
              </div>

              <div class="password-wrapper1">
                <label for="user-pw">비밀번호</label>
                <input
                  type="password"
                  id="user-pw"
                  name="password"
                  placeholder="비밀번호를 입력해주세요."
                  required
                />
              </div>
              <div class="email-wrapper">
                <label for="user-email">이메일 주소</label>
                <input
                  type="email"
                  id="user-email"
                  name="email"
                  placeholder="이메일 주소를 입력해주세요."
                  required
                />
              </div>

              <div class="password-wrapper2">
                <label for="user-pw">비밀번호 확인</label>
                <input
                  type="password"
                  id="user-pw"
                  name="password_confirm"
                  placeholder="비밀번호를 입력해주세요."
                  required
                />
              </div>
            </div>
            {% if error %}
            <p class="error-message">{{ error }}</p>
            {% endif %}

            <button type="submit" class="btn-signup">회원가입</button>
          </form>
          <!-- 랜딩페이지로 연결시키기 -->
          <h2>이미 틈틈의 회원이신가요?</h2>
          <a href={% url 'accounts:login' %} class="login">로그인</a>
        </div>
      </main>

      <!-- 푸터 -->
      <footer>
        <img src={%static "img/logo2.svg"%} alt="로고" class="logo2" />

        <div class="footer-bottom">
          <h1>단절의 시간을 기회의 시간으로 바꾸는 플랫폼,</h1>
          <img src={%static "img/logo3.svg"%} class="logo3" />
        </div>
      </footer>
    </div>
  </body>
</html>
