* {
  padding: 0;
  margin: 0;
  color: #333333;
}
section {
  background-color: rgb(248, 248, 248);
  padding-bottom: 30px;
}

#title {
  margin: 0px 35px;
  padding: 25px 0 15px 0;
  border-bottom: 1px solid #a8a8a8;
}

#HdImg {
  width: 13%;
}
#titleDt {
  font-size: 12.7px;
  padding-top: 3px;
}

/* #stLCt {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 30px;
  padding: 24px;
  margin: 0 35px;
} */
#CtTitle {
  font-size: 20px;
  font-weight: 600;
  color: #434d38;
}

#stLIf {
  display: flex;
  margin: 15px 0;
  align-items: center;
}
#stLprofile {
  width: 35px;
  height: 35px;
}
#stLIfName {
  font-size: 13px;
  font-weight: 500;
}
#stLuserIf {
  margin-left: 10px;
}
#stLuserSt {
  display: flex;
  align-items: center;
}
#stLuserT {
  font-size: 12px;
  padding-right: 3px;
  border-right: 1px solid rgb(67, 67, 67);
}
#stLuserJ {
  font-size: 12px;
  margin-left: 3px;
}

#stLtxt {
  font-size: 14px;
}

#ems {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
#likeImg,
#goodImg,
#smileImg {
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
  cursor: pointer;
}
.likeEm {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  margin: 0 20px;
}

.Ct {
  margin: 24px 35px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: 30px;
  padding: 24px;
}
#coTitle {
  font-size: 18px;
  font-weight: 560;
  color: #434d38;
  margin-bottom: 18px;
}
#coConCt {
  font-size: 15px;
  border-radius: 30px 30px 30px 0;
  padding: 12px;
  width: 90%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  border: 1.5px solid #e5e7eb;
}
#comment {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 16px 0;
}
#coProfile {
  width: 39px;
  height: 39px;
}
#coName {
  text-align: center;
  font-size: 12px;
  font-weight: 440;
}

#mycoProfile {
  width: 39px;
  height: 39px;
}
#myCo {
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  border: 1.5px solid #e5e7eb;
  width: 80%;
  margin-left: 8px;
  font-size: 15px;
}
#coW {
  display: flex;
  margin-top: 55px;
}
#coBt {
  margin-left: 15px;
  width: 60px;
  border-radius: 10px;
  color: #fff;
  background-color: #427d58;
  border: none;
  cursor: pointer;
}
#coBt:hover {
  background-color: #3c7150;
}

#list {
  text-align: center;
  font-size: 14px;
  font-weight: 570;
  text-decoration: none;
}
#aList {
  display: flex;
  justify-content: center;
  align-items: center;
}

#NrecoW {
  display: flex;
  border-bottom: 1.5px solid #a8a8a893;
  padding-bottom: 10px;
}
#BrecoW {
  display: flex;
  margin-top: 10px;
}
.nextW {
  margin-right: 15px;
  font-weight: 500;
  color: #434d38;
  padding-left: 4px;
}
#starCt {
  display: flex;
  justify-content: space-between;
}
#star {
  width: 39px;
  height: 39px;
  margin-right: 15px;
  cursor: pointer;
}

/* 푸터 */
footer {
  height: 100%;
  text-align: center;
  background-color: #427d58;
}
.logo2 {
  margin-top: 25px;
  width: 40px;
}
footer .logo3 {
  width: 35%;
  margin-bottom: 50px;
}
/* 푸터 */

/* 헤더 */
header {
  display: flex;
  width: 100%;
  height: 87px;
  position: sticky;
  box-shadow: 0px 3px 11.4px 0px rgba(0, 0, 0, 0.15);
}
#HderLogos {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  white-space: nowrap;
}
#HdLogoTT {
  width: 40%;
  min-width: 30px;
}
#HdLogoKTT {
  width: 35%;
  min-width: 25px;
}

.HdA {
  white-space: nowrap;
  margin: 0 30px;
}
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 1.2vw, 18px);
}
#HdScetion {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 50px;
}

a {
  text-decoration: none; /* 밑줄 제거 */
}
#login {
  width: 67%;
  min-width: 80px;
}
#UserImg,
#BellImg {
  width: 48%;
  margin-right: 30px;
}
#SearchImg {
  width: 10%;
  margin-bottom: 5px;
}

#user-actions {
  display: flex;
  align-items: center;
}

nav a {
  font-weight: 500;
}
nav a:hover {
  color: #727272;
}
/* 헤더 */
