{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={%static "css/joblist.css"%} />
    <title>최신채용정보</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{%url 'home:home' %}" class="logo">
          <img src={% static "img/logo1.svg"%} alt="로고" />
          <img src={% static "img/logo4.svg"%} alt="로고" />
        </a>
        <nav class="menu">
          <ul>
            <li><a href="">틈틈이공유</a></li>
            <li><a href="">틈틈이정보</a></li>
            <li><a href="">틈틈이계획</a></li>
          </ul>
        </nav>
        <nav class="user-actions">
          <ul>
            <li>
              <a href="{%url 'accounts:login' %}"
                ><img
                  src={%static "img/loginbtn.svg"%}
                  alt="로그인"
                  class="login"
              /></a>
            </li>
            <li>
              <a href="{%url 'my:mypage'%}"
                ><img src={% static "img/mypage.svg"%} alt="마이페이지"
              /></a>
            </li>
            <li>
              <a href="/alert/"
                ><img src={% static "img/alert.svg"%} alt="알림"
              /></a>
            </li>
            <li><img src={% static "img/search.svg"%} alt="검색" /></li>
          </ul>
        </nav>
      </header>
      <main class="content">
        <h2>최신 채용 정보</h2>
        <p>회원님만의 맞춤 채용 정보를 틈틈이 준비했어요.</p>
        <hr />
        <form action="/jobs/job_list/" method="GET" class="search-filter">
          <div class="kw-wrapper">
            <span>검색 키워드</span>
            <input
              type="text"
              id="keyword"
              name="q"
              placeholder="관심 있는 채용 키워드를 입력해 주세요."
              value="{{ request.GET.q|default:'' }}" {# Add this to keep the search term after submission #}
            />
          </div>

          <div class="job-wrapper">
            <span>직종</span>
            <div class="dropdown-container">
              <div class="dropdown">직종 선택</div>
              <img
                src={%static "img/dropdown.svg"%}
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                {# Loop through your actual job types if available, otherwise manually list #}
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="planning"
                    {% if "planning" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  기획·전략</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="development"
                    {% if "development" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  IT·개발·데이터</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="manufacturing"
                    {% if "manufacturing" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  생산·제조</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="contents"
                    {% if "contents" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  콘텐츠·미디어</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="marketing"
                    {% if "marketing" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  마케팅·홍보·MD</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="customer_service"
                    {% if "customer_service" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  고객상담·CS</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="construction"
                    {% if "construction" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  건축·시설관리</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="finance"
                    {% if "finance" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  금융·보험</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="accounting"
                    {% if "accounting" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  회계·세무·재무</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="logistics"
                    {% if "logistics" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  물류·운송</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="healthcare"
                    {% if "healthcare" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  의료·간호</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="public"
                    {% if "public" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  공공·복지</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="design"
                    {% if "design" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  디자인</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="operation"
                    {% if "operation" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  운영·서비스업</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="job_type_filter"
                    value="education"
                    {% if "education" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  교육·강의</label
                >
                <label
                  ><input type="checkbox" name="job_type_filter" value="hr" 
                    {% if "hr" in request.GET.job_type_filter %}checked{% endif %}
                  />
                  인사·사무·총무</label
                >
              </div>
            </div>
          </div>

          <div class="location-wrapper">
            <span>지역</span>
            <div class="dropdown-container">
              <div class="dropdown">지역 선택</div>
              <img
                src={%static "img/dropdown.svg"%}
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                <label
                  ><input type="checkbox" name="region_filter" value="seoul"
                    {% if "seoul" in request.GET.region_filter %}checked{% endif %}
                  />
                  서울</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="region_filter"
                    value="gyeonggi"
                    {% if "gyeonggi" in request.GET.region_filter %}checked{% endif %}
                  />
                  경기/인천</label
                >
                <label
                  ><input type="checkbox" name="region_filter" value="busan"
                    {% if "busan" in request.GET.region_filter %}checked{% endif %}
                  />
                  부산/울산/경남</label
                >
                <label
                  ><input type="checkbox" name="region_filter" value="daegu"
                    {% if "daegu" in request.GET.region_filter %}checked{% endif %}
                  />
                  대구/경북</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="region_filter"
                    value="gwangju"
                    {% if "gwangju" in request.GET.region_filter %}checked{% endif %}
                  />
                  광주/전남/전북</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="region_filter"
                    value="daejeon"
                    {% if "daejeon" in request.GET.region_filter %}checked{% endif %}
                  />
                  대전/충남/충북</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="region_filter"
                    value="gangwon"
                    {% if "gangwon" in request.GET.region_filter %}checked{% endif %}
                  />
                  강원</label
                >
                <label
                  ><input type="checkbox" name="region_filter" value="jeju"
                    {% if "jeju" in request.GET.region_filter %}checked{% endif %}
                  />
                  제주</label
                >
              </div>
            </div>
          </div>

          <div class="available-wrapper">
            <span>재택 근무 가능 여부</span>
            <label
              ><input type="checkbox" name="remote_available_filter" {% if "on" in request.GET.remote_available_filter %}checked{% endif %}/> 재택
              근무 가능</label
            >
          </div>

          <div class="career-wrapper">
            <span>경력</span>
            <div class="check-container">
            <label><input type="checkbox" name="career_filter" value="total" {% if "total" in career_filters_selected %}checked{% endif %}/> 전체</label>
            <div class="exp-container">
            <label
              class="exp-label"><input type="checkbox" name="career_filter" value="exp" {% if "exp" in career_filters_selected %}checked{% endif %} />
              경력</label
            >
            <label><input type="text" name="start_year" value="{{ request.GET.start_year|default:'' }}" class="year"/>년 ~</label>
            <label><input type="text" name="end_year" value="{{ request.GET.end_year|default:'' }}" class="year"/> 년</label>
            </div>
               <label
               ><input type="checkbox" name="career_filter" value="new" {% if "new" in career_filters_selected %}checked{% endif %} />
               신입</label
             > 
             <label
               ><input type="checkbox" name="career_filter" value="none" {% if "none" in career_filters_selected %}checked{% endif %} /> 관계없음</label
             >
            </div>
          </div>

          <div class="education-wrapper">
            <span>학력</span>
            <div class="dropdown-container">
              <div class="dropdown">학력 조건</div>
              <img
                src={%static "img/dropdown.svg"%}
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                <label
                  ><input
                    type="checkbox"
                    name="education_filter"
                    value="high_school"
                    {% if "high_school" in request.GET.education_filter %}checked{% endif %}
                  />
                  고등학교 졸업</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="education_filter"
                    value="associate_degree"
                    {% if "associate_degree" in request.GET.education_filter %}checked{% endif %}
                  />
                  전문대학 졸업</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="education_filter"
                    value="bachelor_degree"
                    {% if "bachelor_degree" in request.GET.education_filter %}checked{% endif %}
                  />
                  학사 학위</label
                >
                <label
                  ><input
                    type="checkbox"
                    name="education_filter"
                    value="master_degree"
                    {% if "master_degree" in request.GET.education_filter %}checked{% endif %}
                  />
                  석사 학위</label
                >
                <label
                  ><input type="checkbox" name="education_filter" value="doctorate"
                    {% if "doctorate" in request.GET.education_filter %}checked{% endif %}
                  />
                  박사 학위</label
                >
              </div>
            </div>
          </div>

          <div class="cpsize-wrapper">
            <span>기업 규모</span>
            <div class="dropdown-container">
              <div class="dropdown">기업 규모</div>
              <img
                src={% static "img/dropdown.svg"%}
                alt="화살표"
                class="dropdownBtn"
              />
              <div class="dropdown-menu">
                <label
                  ><input type="checkbox" name="company_size_filter" value="small"
                    {% if "small" in request.GET.company_size %}checked{% endif %}
                  />
                  소기업</label
                >
                <label
                  ><input type="checkbox" name="company_size_filter" value="medium"
                    {% if "medium" in request.GET.company_size %}checked{% endif %}
                  />
                  중기업</label
                >
                <label
                  ><input type="checkbox" name="company_size_filter" value="large"
                    {% if "large" in request.GET.company_size %}checked{% endif %}
                  />
                  대기업</label
                >
                <label
                  ><input type="checkbox" name="company_size_filter" value="startup"
                    {% if "startup" in request.GET.company_size %}checked{% endif %}
                  />
                  스타트업</label
                >
                <label
                  ><input type="checkbox" name="company_size_filter" value="public"
                    {% if "public" in request.GET.company_size %}checked{% endif %}
                  />
                  공공기관</label
                >
              </div>
            </div>
          </div>
          <button type="submit" class="searchbtn">조회하기</button>
        </form>

        <hr />
        <p>총 {{ jobs|length }}건의 채용정보가 있어요.</p> {# Dynamically show count #}
        <div class="card-container">
          {% for job in jobs %}
          <div class="card">
            <div class="card-content">
              <div class="logo-wrapper">
              {% if job.company_logo %} {# company_logo가 존재할 때만 표시 #}
                <img
                  src="{{ job.company_logo.url }}"
                  alt="로고"
                  class="sample-logo"
                />
              {% else %}
                {# 로고가 없을 경우 보여줄 기본 이미지. 경로는 static 폴더 내에 해당 이미지가 있어야 합니다. #}
                <img
                  src="{% static 'img/default_company_logo.svg' %}"
                  alt="기본 로고"
                  class="sample-logo"
                />
              {% endif %}
              </div>
              <a
                href="{% url 'jobs:job_redirect' job.id %}"
                target="_blank"
                class="card-link"
              >
                <h2>{{ job.title }}</h2>
              </a>
              <p class="subtitle">{{ job.company }}</p>
              <p class="category">{{ job.get_job_type_display }}</p>
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'jobs:toggle_bookmark' job.id %}" class="scrap-button" data-job-id="{{ job.id }}">
                    {% if job.id in user_bookmarked_job_ids %}
                        <img src="{% static 'img/scrapbtn-filled.svg' %}" alt="스크랩됨" class="scrap-icon" /> {# 스크랩된 이미지 #}
                    {% else %}
                        <img src="{% static 'img/scrapbtn.svg' %}" alt="스크랩" class="scrap-icon" /> {# 스크랩 안된 이미지 #}
                    {% endif %}
                </a>
            {% else %}
                <img src="{% static 'img/scrapbtn_disabled.svg' %}" alt="로그인 필요" class="scrap-icon disabled" title="로그인 후 스크랩 가능" />
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <div class="pagination">
          <img src={%static "img/arrow1.svg"%} alt="첫페이지" class="prevbtn" />
          <img
            src={%static "img/arrow2.svg"%}
            alt="이전페이지"
            class="prevbtn"
          />
          <p class="pagenumber">1</p>
          <p class="pagenumber">2</p>
          <p class="pagenumber">3</p>
          <img
            src={% static "img/arrow2.svg"%}
            alt="다음페이지"
            class="nextbtn"
          />
          <img
            src={% static "img/arrow1.svg"%}
            alt="마지막페이지"
            class="nextbtn"
          />
        </div>
      </main>
      <footer>
        <img src={%static "img/logo2.svg"%} alt="로고" class="logo2" />

        <div class="footer-bottom">
          <h1>단절의 시간을 기회의 시간으로 바꾸는 플랫폼,</h1>
          <img src={%static "img/logo3.svg"%} class="logo3" />
        </div>
      </footer>
    </div>
    <script src={% static "js/joblist.js"%}></script>
  </body>
</html>